*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex; /*Coloca los apartados de lado del titulo de nuestra pag*/
    justify-content: space-around;/* Distribuir items uniformemente.  Los items tienen el mismo espacio a su alrededor */
    align-items: center;
    min-height: 8vh;
    background-color: rgb(189, 178, 255);
    font-family: 'Poppins', sans-serif;


}

.Logo{
    color: rgb(241, 250, 238);
    text-transform: uppercase;/*transforma el texto a mayusculas*/
    letter-spacing: 5px;/*espacio entre letras*/
    font-size: 20px;
}

.apartados{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.apartados li{
    list-style: none;/*para quitar los puntos del texto de los apartados*/
}

.apartados a{
    color: rgb(241, 250, 238);
    text-decoration: none; /*Quitamos lo subrayado*/
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
}

/* los pseudo-elementos se representan por : o :: y permiten añadir estilos a una parte concreta del documento, en este caso la accion hover sobre los
Ul Li y a del nav. */
nav ul li a:hover{
    color: rgb(255, 214, 165);
}
/*la clase burger la utilizo para el menu en version movil.*/
.burger{
    display: none;
    cursor: pointer;

}
.burger div{
    width: 25px;
    height: 3px;
    color: rgb(241, 250, 238);
    background-color: rgb(241, 250, 238);
    margin: 5px;
    transition: all 0.3s ease; /*Define el tiempo de transicion del elemento.*/
}


/*Animacion para las lineas del burger
Pasan de ser 3 lineas horizontales a formar una X */
.toggle .linea1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .linea2{
    opacity: 0;
}
.toggle .linea3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%; /*especifica el tamaño unicial del elemento flexible*/
    position: static; /* para que no afecte a los elementos del nav*/
    margin-left: 45px;
    font-family: 'Roboto Slab', serif;

}

.who{
    flex-basis: 40%; 
    position: static; 
    margin-left: 45px;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0px;
}
/*
.col-1 h3{
    font-size: 35px;
    color: black;
    text-transform: uppercase;
}*/
.col-1 p{
    justify-content: center;
    margin-left: 5px;
    align-items: center;
    font-size: 18px;

}
button{
    margin-left: 18px;
    width: 180px;
    border: 0px;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #FFC6FF, #BDB2FF);/*efecto gradient en el boton*/
    transition: 0.5s;
}
button img{
    width: 15px;
    display: none;

}
/*hacemos que cuando pongamos el cursos encima del boton aparezca la imagen colocada*/

button:hover img{
display: block;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*columna a la izquierda del texto con efecto gradient*/
/*
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#FFC6FF, #BDB2FF);
    position: absolute;
    left: -40px;
    top: 8px;
}
*/
.col-2{
    position: static;
    flex-basis: 40%;
    display: flex;
    align-items: center;
    border: 0px solid transparent;
    justify-content: center;


}
.col-2 .local{
    width: 90%;
    border-radius: 3%; 
     
}


@media screen and (max-width: 1024px) {
    .apartados{
        width: 60%;
    }
}
@media screen and (max-width: 768px) {
    head{
        overflow-x: hidden; /*se calcula implicitamente como auto*/
    }
    @media(max-width: 500px){
        .who{
            text-align: center;
            font-size: 1.3rem;
            display: flex;
        }
    }

    .apartados{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(189, 178, 255);
        display: flex;
        flex-direction: column;/*especifica cómo colocar los objetos flexibles en el contenedor flexible definiendo el eje principal y la dirección*/
        align-items: center;
        width: 40%;
        transform: translateX(100%);/*para la transicion del menu los reposiciona horizontalmente*/
        transition: transform 0.5s ease-in;
    }
    .apartados li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    .row{
        flex-direction: column-reverse;
        margin: 50px 0;

    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}
.apartados-act{
    transform: translateX(0%)
}

.p-slider{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 50px auto;
width: 95%;
}

.titulo-slider{
    flex-basis: 40%; 
    position: static; 
    margin-left: 45px;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0px;
}

.product-box{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin: 0px 20px;
}

.img-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.p-img a, 
.p-img{
    width: 100%;
    height: 100%;
    display: flex;
}

.p-img a img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    animation: fade 0.6s;
}


.p-box-text{
    margin-top: 5px;
    width: 100%;
}

.product-category{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

.product-category span{
    color: #acacac;
    font-size: 0.9rem;
    margin: 5px 0px;

}
.product-title{
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    transition: all ease 0.3s;
}

.product-title:hover{
    color: #111111;
    opacity: 0.7;
    transition: all ease 0.3s;
}
.precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.precio .p-price{
    font-size: 1.3rem;
    color: #333333;
    font-weight: 700;
}

.slider-btns{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 30px auto 10px auto;
    padding: 0px 10px;

}

.slider-btns button{
    position: static !important;
    transform: translate(0,0);
    background-color: #f3f3f3;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;

}

.slider-btns button span{
    font-weight: bold;
    padding: 10px 15px 10px 10px;
    position: relative;
    text-decoration: none;

}

.slider-btns button span::before,
.slider-btns button span::after{
    border-right: 2px solid;
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
    content: '';
}

.slider-btns button span::after{
    margin-top: -1px;
    transform: rotate(45deg);

}

.slider-btns .glider-prev span{
    transform: rotate(-180deg);

}
/*La regla arroba @keyframes permite a los autores controlar los pasos intermedios en una secuencia de animación CSS 
mediante el establecimiento de keyframes (o puntos de trayectoria) a lo largo de la secuencia de animación que debe ser alcanzado por determinados puntos
durante la animación. Esto le da un control más específico sobre los pasos intermedios de la secuencia de animación que se obtiene al dejar que el navegador
maneje todo automáticamente.*/
@keyframes apartadosfade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media(max-width: 500px){
    .product-box{
        margin: 0px 10px;
    }
    .p-slider{
        width: 100%;
    }
    .titulo-slider{
        text-align: center;
        font-size: 1.3rem;
        display: flex;

    }
    .p-img a,
    .p-img{
        height: 200px;

    }
    .precio .p-price{
        font-size: 1.1rem;

    }
}

@media(max-width:320px){
    .p-img a,
    .p-img{
        height: 190px;
    }
    .slider-btns{
        padding: 0px;
    }
}